* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-menu a {
    text-decoration: none;
}

.header-menu a:hover {
    color: #1abc9c;
    font-weight: bold;
    text-decoration: none;
}

.header-menu ul li {
    list-style: none;
    display: inline-block;
    text-decoration: none;
}

.header-menu ul {
    display: flex;
    justify-content: space-between;
}

header nav {
    display: flex;
    background-color: #689FEE;

}

header nav .left {
    flex: 1 1 30%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
    padding: 20px 0;
}

header nav .right {
    flex: 1 1 70%;
}

header nav .right ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 20px 0;
}

header nav .right ul li {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    width: 15%;
    text-align: center;
    color: white;
}

header nav .right ul li a {
    color: white;
    text-decoration: none;
}

header nav .right ul li a:hover {
    color: #1abc9c;
    font-weight: bold;
    text-decoration: none;
}

header div img {
    width: 100%;
    height: 130px;
    /* object-fit: cover; */
}

/* 主体部分开始 */
main {
    display: flex;
}

main aside {
    flex: 1 1 20%;
}

main aside div ul {
    margin: 10px 0px 5px 10px;
    padding:5px 10px 5px 15px;
    background-color: #EEE;
    list-style: none;
    box-shadow: 5px 5px #BEBEBE;
}

main aside div ul li a {
    text-decoration: none;
    white-space: nowrap;
    color: #5096C1;
}

main aside div ul li a:hover {
    color: teal;
    font-weight: bold;
}

main aside .icon-rect {
    color: #005497;
    margin-right: -5px;
}

main aside div ul .icon-dian {
    font-size: 12px;
    margin-right: -5px;
}

main .main-right {
    background-color: teal;
    margin-left: 15px;
    flex: 1 1 80%;
}

main div .search{
    margin: 10px 0px 5px 10px;
    padding:5px 10px 5px 15px;
    background-color: #eee;
    box-shadow: 5px 5px #BEBEBE;
}

option{
    text-align: center;
}
main aside div .search form div .input-group input{
    flex: 1 1 auto;
}
main aside div .search form:nth-of-type(2) div .input-group select{
    flex: 1 1 auto;
}