* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #E8E8E8;
}
.container{
    background-color: #E8E8E8;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
}
    
header,main,footer{
    background-color: white;
}
.header-menu a {
    text-decoration: none;
}

.header-menu a:hover {
    color: #1abc9c;
    font-weight: bold;
    text-decoration: none;
}

.header-menu ul {
    display: flex;
    justify-content: space-between;
}

.header-menu ul li {
    list-style: none;
    display: inline-block;
    text-decoration: none;
}

header nav {
    display: flex;
    background-image: url("../image/menu.png");

}

header nav .left {
    flex: 1 1 30%;
    display: flex;
}

header nav div.right {
    display: flex;
    justify-content: center;
    align-items: center;
}
body > header > nav > div.left > a{
    width: 100%;
    height: auto;
}
header nav div.right ul {
    flex: 1 1 auto;
}
header nav .left a img {
    width: 100%;
    height: auto;
}

.input-group {
    flex-wrap: nowrap;
}

header nav .right {
    flex: 1 1 70%;
}

header nav .right ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 20px 0;
}

header nav .right ul li {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    width: 15%;
    text-align: center;
    color: white;
}

header nav .right ul li a {
    color: white;
    text-decoration: none;
}

header nav .right ul li a:hover {
    color: #1abc9c;
    font-weight: bold;
    text-decoration: none;
}

header div img {
    width: 100%;
    max-height: 100px;
    min-height: 50px;
}

/* 主体部分开始 */
main {
    display: flex;
}
.page{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
main aside {
    flex: 1 1 20%;
}

main aside div ul {
    margin: 10px 0px 5px 10px;
    padding: 5px 10px 5px 15px;
    background-color: #EEE;
    list-style: none;
    box-shadow: 5px 5px #BEBEBE;
}

main aside div ul li a {
    text-decoration: none;
    white-space: nowrap;
    color: #5096C1;
}

main aside div ul li a:hover {
    color: teal;
    font-weight: bold;
}
body > div > main > div{
    height: fit-content;
}
main aside .icon-rect {
    color: #005497;
    margin-right: -5px;
}

main aside div ul .icon-dian {
    font-size: 12px;
    margin-right: -5px;
}

main .main-right {
    margin-left: 15px;
    flex: 1 1 auto;
}

main div .search {
    margin: 10px 0px 5px 10px;
    padding: 5px 10px 5px 15px;
    /* background-color: #eee;
    box-shadow: 5px 5px #BEBEBE; */
}

main aside div .search form div .input-group input {
    flex: 1 1 auto;
}

main aside div .search form:nth-of-type(2) div .input-group select {
    flex: 1 1 auto;
}

main aside .about ul li:first-child {
    border-bottom: 3px solid royalblue;
}

main .main-right {
    display: flex;
    flex-direction: column;
}

main .main-right article:nth-of-type(1) {
    flex: 1 1 auto;
    min-height: 50%;
    display: flex;
    flex-direction: column;
}

main .main-right article:nth-of-type(2) {
    flex: 1 1 auto;
    min-height: auto;
}

main article p .icon-rect {
    color: #005497;
}

.main-right article>div {
    flex: 1 1 auto;
}

.free-content >div{
    border-bottom: 2px dotted #ccc;
}
.pay {
    display: flex;
    flex-direction: column;
}

.pay > div {
    flex: 1 1 50%;
}

.pay div img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
}

.content-type {
    color: #D41D14;
    font-weight: bold;
}

.content-title{
    color: #FE791F;
    font-weight: 500;
}

.content-sdate {
    color: #CE37AE;
    font-weight: 500;
}

.content-content{
    text-indent: 2em;
    color: royalblue;
}

.content-info {
    color: #FE791F;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    font-weight: bold;
    background-color: #5C93E3;
}

/* 发布信息页开始 */
.release-main section{
    display: flex;
    flex-direction: row;
    margin: 5px auto;
}
.release-main section>div:nth-of-type(1){
    text-align: right;
    width: 10%;
}
.input-group-text{
    width: 90px;
    text-align: center;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-row{
    margin: 0px;
}
.btn-info{
    max-width: 271px;
    min-width: 271px;
}
.release-select-info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    color: red;
    font-weight: bold;
}
.disabled:hover{
    cursor: url("../image/16.ico"),auto;
}
/* 发布信息页结束 */


.page-link{
    user-select: none;
}
.paid-content>div{
    border-bottom: 2px dotted #ccc;
}