* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: relative;
}

.header .img {
    width: 100%;
}

.header .img img {
    width: 100%;
    height: auto;
}

.header .title {
    position: absolute;
    font-size: 26px;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 50px;
    color: #eeeeee;
}

.header .title span {
    color: white;
    font-size: 38px;
    font-weight: bold;
}

.header .menu {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

/* 中间左边开始 */
body > div > main > div.left > div.show-info div.show-center > span::before{
    color: red;
}
main {
    display: flex;
    margin-top: 4px;

}

main .left {
    width: 25%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin-right: 10px;
}

main .right {
    width: 70%;
    flex: 1 1 auto;
}

main>.left>.top {
    background-color: #2980b9;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}

main>.left>.top span {
    color: white;
    font-size: 20px;
    white-space: nowrap;
}

main .left .show-info {
    border: 2px solid #ccc;
}

main .left .show-info .show-top {
    color: #3498db;
    font-weight: bold;
    border-bottom: 2px solid #CCC;
}

main .left .show-info .show-center {
    position: relative;
    margin: 10px 10px 0 10px;
    border: 2px solid #ccc;
    border-bottom: 0;

}

main .left .show-info .show-center span {
    padding: 0 5px;
    position: absolute;
    background-color: white;
    left: 50%;
    top: -10px;
    transform: translateX(-50%);
}

main .left .show-info .show-center  {
    min-height: 50px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main .left .show-info .show-bottom {
    border-top: 2px solid #CCC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 15px;
}

main .left .show-info .ad-push {
    display: flex;
    justify-content: flex-end;
}

body>div>main>div.left>div.release-info {
    color: white;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div>main div.left div.release-info div {
    background-color: teal;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 10px 0 10px 0;

    cursor: pointer;
}

div>main div.left div.release-info> :first-child {
    margin-bottom: 0;
}

/* 中间左边结束 */

/* center right start */
main div.right {
    display: flex;
    flex-direction: column;
}

main div.right div.location {
    background-color: #2980b9;
    font-size: 20px;
    color: white;
    padding: 5px 15px;
}

main div.right div.location a {
    color: white;
}

main div.right div.location a:hover {
    text-decoration: none;
}

main div.right div.content {
    flex: 1 1 auto;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-top: 2px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* padding: 0 20px 20px 20px; */
}
main div.right div.content header{
    padding: 10px;
    font-size: 24px;
    width: 100%;
    text-align: left;
}
/* 表格第一行不换行 */
body > div > main > div.right > div.content > table > thead > tr{
    white-space: nowrap;
}


/* 私有属性实现多行省略 */
/* body > div > main > div.right > div.content > table > tbody > tr:nth-child(1) > th:nth-child(2){
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;   
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
} */

table tr,table th,table td{
    border: 0;
    max-width: 200px;
    width: fit-content;
}
.table td, .table th{
    vertical-align: middle;
}
table tr{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

body > div > main > div.right > div.content > table > tbody > tr > th:nth-child(2){
    display: inline-block;
    max-height: 55px;
    /* margin: 5px; */
    overflow: hidden;
    padding: 5px 0px;
    position: relative;
    padding-right: 1em;
    margin-bottom: 5px;
    /* 文本两端对齐 */
    text-align: justify;
}
/* 添加省略号并定位到最后 */
body > div > main > div.right > div.content > table > tbody > tr > th:nth-child(2)::before{
    content: "...";
    position: absolute;
    right: 0;
    bottom: 0;
}
/* 添加尾部的白块 */
body > div > main > div.right > div.content > table > tbody > tr > th:nth-child(2)::after{
    content: "";
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-top: 0.5em;
}
/* 设置奇数行的的after的背景 */
body > div > main > div.right > div.content > table > tbody > tr:nth-child(odd) > th:nth-child(2)::after{
    background-color: #F2F2F2;
}
/* 偶数行的背景 */
body > div > main > div.right > div.content > table > tbody > tr:nth-child(even) > th:nth-child(2)::after{
    background-color:white;
}

/*************************************************center right end****************************************************/

/*************************************************footer start********************************************************/
body>div.container>footer {
    text-align: center;
    padding: 15px;
    background-color: #689FEE;
}

/*************************************************footer end **********************************************************/


@media (min-width: 1500px){
    .container {
        max-width: 1400px;
    }
    main .left{
        width: 12%;
    }
}