*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    position: relative;
}
.header .img {
    width: 100%;
}
.header .img img{
    width: 100%;
    height: auto;
}
.header .title{
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 50px;
    color: #eeeeee;
}
.header .title span{
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.header .menu{
    position: absolute;
    right: 5px;
    bottom: 5px;
}

/* 中间左边开始 */
main{
    display: flex;
    margin-top: 10px;

}
main .left{
    width: 30%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin-right: 10px;
}
main .right{
    width: 70%;
    flex: 1 1 auto;
}
main>.left>.top{
    background-color: #2980b9;    
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 15px;
}
main >.left >.top span{
    color: white;
    font-size: 20px;
    white-space: nowrap;
}
main .left .show-info{
    border: 2px solid #ccc;
}
main .left .show-info .show-top{
    color:#3498db ;
    font-weight: bold;
    border-bottom: 2px solid #CCC;
}
main .left .show-info .show-center{
    position: relative;
    margin: 10px 10px 0 10px;
    border: 2px solid #ccc;
    border-bottom: 0;
    
}
main .left .show-info .show-center span{
    padding: 0 5px;
    position: absolute;
    background-color: white;
    left: 50%;
    top: -10px;
    transform: translateX(-50%);
}
main .left .show-info .show-center form{
    min-height: 50px;
    padding:10px 0 0    px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
main .left .show-info .show-bottom{
    border-top: 2px solid #CCC;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding: 2px 15px;
}
main .left .show-info .ad-push{
    display: flex;
    justify-content: flex-end;
}
/* 中间左边结束 */